.counter {
  border-radius: 20px;
  border: 2px solid #2341fd;
  width: 560px;
  padding: 30px;
}

.value {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  border-radius: 20px;
  background: #80808014;
  padding: 20px;
  color: #434343d4;
}

.btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  button {
    width: 120px;
    border: 2px solid #2341fd;
    border-radius: 20px;
    background: #fff;
    font-size: 16px;
    color: #2341fd;
    outline: none;
    cursor: pointer;
  }
}
